/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Oswald:wght@400;600&display=swap');


/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.none {
    display: none !important;
}

:root {
    --text-color: #000;
    --text-white: #fff;
    --accent-color: #ce6bdb9f;
    --background-color: rgb(72, 42, 17);
    --gradient: linear-gradient(140deg, rgba(4,96,42,1) 0%, rgba(164,255,0,1) 49%, rgba(4,96,42,1) 100%);
    --secondary-color: orange; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

/* Header styles */

header {
    background: var(--background-color);
    height: 10vh;
    align-items: center;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    height: 10vh;
}

.header-row a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 2rem;
}

.header-row h1 {
    font-size: 2rem;
}


/* New Game styles */

.new-game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: var(--gradient);
}

.new-game-wrapper {
    display: flex;
    flex-direction: column;
    width: 40rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.new-game-wrapper p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.new-game-wrapper label {
    font-size: 1rem;
}

.new-game-wrapper .text-input {
    width: 100%;
    max-width: 25rem;
    height: 2rem;
    margin-bottom: 2rem;
}

.new-game-wrapper button {
    font-size: 1.5rem;
    color: var(--text-color);
    height: 5rem;
    width: 10rem;
    background-color: var(--accent-color);
    border-radius: .5rem;
}

/* Quiz */

.quiz {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    position: relative;
}

.quiz-questions {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.quiz-answers-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.answer {
    font-size: 1.5rem;
    height: 5rem;
    width: 15rem;
    background: var(--accent-color);
    border-radius: 2rem;
}

.answer:hover {
    background: var(--secondary-color);
}

.quiz-score {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.quiz-score span {
    margin-left: 1rem;
    color: var(--background-color);
}

.reaction {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

/* Quiz End */

.result-block-header {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.result-block-header span {
    color: #bb2424;
}

.result {
    font-size: 2rem;
    margin: 2rem 0;
}

.result span {
    color: var(--secondary-color);
}

#result {
    margin-left: 3rem;
}

.conclusion {
    font-size: 2rem;
    margin: 2rem 0;
}

.restart-quiz {
    font-size: 1.5rem;
    height: 5rem;
    width: 15rem;
    background: var(--accent-color);
    border-radius: 2rem;
}

.restart-quiz:hover {
    background: var(--secondary-color);
}

/* Footer */

.footer-wrapper {
    width: 100%;
    height: 10vh;
    background: var(--background-color);
    text-align: center;
}

.footer-heading {
    font-size: 1.2rem;
    color: var(--text-white);
}

.footer-social-links {
    display: flex;
    justify-content: space-around;
    padding-top: .5rem;
}

.footer-social-links i {
    color: var(--text-white);
    font-size: 1.5rem;
}