/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Oswald:wght@400;600&display=swap');


/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

.none {
    display: none !important;
}

:root {
    --text-color: #fff;
    --background-color: #CD6BDB;
    --first-accent-color: #E0E500;
    --second-accent-color: #041760;
    --gradient: linear-gradient(140deg, rgba(219,188,107,1) 0%, rgba(164,255,0,1) 55%, rgba(4,96,42,1) 100%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

/* Header styles */

header {
    background: var(--gradient);
    height: 10vh;
}


