/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {
    display: none !important;
}

:root {
    --text-color: #fff;
    --background-color: #CD6BDB;
    --first-accent-color: #E0E500;
    --second-accent-color: #041760;
}
